/* ログインの大枠 */
#login_wraper {
  clear: both;
  width: 40%;
  height: 40%;
  margin: 15% auto;
  background-color: #fffafa;
  border: 2px solid #c0c0c0;
}

#title_text {
  background-color: #b8860b;
  height: 15%;
  border-bottom: 2px solid #c0c0c0;
  letter-spacing: 0.1em;
}

/* 入力ボックスの設定 */
form {
  width: 100%;
  height: 85%;
  margin-top: 5%;
}

table {
  width: 50%;
  height: 30%;
  margin: auto;
}

th {
  width: 15%;
  height: 20px;
  background-color: #b8860b;
  border: 1px solid #c0c0c0;
}

td {
  width: 70%;
  border: 2px solid #c0c0c0;
}

.input {
  width: 100%;
  height: 100%;
  border: none;
}

/* ログインボタンの設定 */
#submit {
  display: block;
  background-color: #b8860b;
  width: 50%;
  height: 10%;
  margin: 10% auto;
  /* padding-top: 1%; */
  border: 2px solid #c0c0c0;
  cursor: pointer;
}

#submit:hover {
  opacity: 0.5;
}
